.wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    padding: 10px;
    border: 1px black solid;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgb(96, 104, 108) 0px 4px 2px -2px;
}

.loginBtn {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid green;
    background-color: transparent;
    color: green;
}

.loginBtn:hover {
    background-color: green;
    color: white;
}

#loginFrom {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#loginFrom>input {
    height: 30px;
}

.notice {
    color: red;
}

.signup-link {
    display: inline;
    color: #FAA85F;
}

@media (max-width: 480px) {
    .loginContainer {
        width: 100%;
    }
}