#navbar{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(177, 173, 173);
    box-shadow: 0 4px 2px -2px gray;
}

.logo-container{
   display: flex;
   font-size: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}
.searchTab{
    margin-right: 100px;
    display: flex;
    width: 80%;
}
.searchTab > input{
    height: 38px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    font-size: 20px;
}

.loginBtn{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid green;
    background-color: transparent;
    color: green;
}
.loginBtn:hover {
    background-color: green;
    color: white;
}


.signoutBtn{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid red;
    background-color: transparent;
    color: red;
}
.signoutBtn:hover {
    background-color: red;
    color: white;
}
